/* Autor: Dennis Heuermann */

@import "bootstrap/scss/bootstrap";
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';

$item-height: 100px;
$radius: 30px;

.container {
    display: block;
    padding-top: 70px;
}

@media screen and (max-width: 575px) {

    div.mobile {
        max-height: 90vh;
    }

    div.list-item div.mobile {
        margin-left: 12px;
        margin-right: 12px;
    }

    div.image {
        height: 80vw;
    }

    .image img {
        border-radius: $radius $radius 0 0;
        height: 100%;
    }   
    
    .mobile div.details {
        background-color: white;
        padding-bottom: 60px;
        border-radius: 0 0 $radius $radius;
    }

    .details button {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }
}

@media screen and (max-width: 991px) {
    .desktop {
        display: none;
    }

    .list-item .mobile {
        background-color: white;
        border-radius: $radius;
        margin-bottom: 50px;
        height: 250px;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: $radius 0 0 $radius;
    }

    .details > p {
        color: #464646;
        font-size: 28px;
        font-weight: 800px;
    }

    .details {
        position: relative;
        padding-top: 20px;
        padding-left: 12px;
    }

    .image {
        height: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    span {
        display: inline-flex;
        flex-wrap: wrap;
    }

    span p {
        margin-right: 15px;
        padding-left: 10px;
        padding-right: 10px;
        color: white;
        background-color: rgb(50, 154, 100);
        border-radius: 25px;
    }

    button {
        position: absolute;
        bottom: 25px;
        right: 25px;
    }
}

@media screen and (min-width: 992px) {
    .mobile {
        display: none;
    }

    .list-item .desktop{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        align-items: center;
        flex: none;
        background-color: white;
        border-radius: $radius;
        margin-bottom: 50px;
        height: $item-height;
    }
    
    img {
        height: $item-height;
        width: 100%;
        object-fit: cover;
        border-radius: $radius 0 0 $radius;
    }
    
    .list-item span.image {
        margin-left: 0;
    }
    
    .list-item span {
        height: $item-height;
        line-height: $item-height;
        text-align: center;
        flex: 1;
    }
    
    .list-item span p {
        vertical-align: middle;
    }
    
    .list-item .desktop span:nth-child(even) {
        border-left: solid 2px lightgrey;
        border-right: solid 2px lightgrey;
    }
    
    .list-item .desktop span:nth-child(1) {
        background: none;
    }
    
    .list-item .desktop span:last-child {
        background-color: blue;
        border-radius: 0 $radius $radius 0;
        vertical-align: middle;
        cursor: pointer;
    }
    
    i {
        color: white;
    }
}