/* Autor: Simon Flathmann */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    min-height: 9vh;
    background-color: #2a895b;
    font-family: Avantgarde;
}

.logo{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 3px;

}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    letter-spacing: 3px;
    font-size: 20px;
    color: white;
}

.arrow{
    display: flex;
}

.leftLine{
    position: relative;
    transform: rotate(45deg);
    left: 6px;
}

.rightLine{
    position: relative;
    transform: rotate(-45deg);
    left: -5px;

}

.arrow div{
    display: flex;
    width: 25px;
    height: 5px; 
    background-color: white;
}