/* Autor: Martin Feldman */

.container {
	display: flex;
	line-height: 1.5;
	flex-wrap: wrap;
}

.sidenav {
	height: 100%;
	width: 40%;
	position: fixed;
	z-index: 1;
	background-color: #1d8beb;
	top: 0;
	left: 0;
	overflow-x: hidden;
}

.main {
	flex: 3;
	//background-color: #a7cff1;
	padding-top: 30px;
	//margin: auto;
	margin-left: 50%;
}
 
.form-control {
		border-style: solid;
		border-width: 1.4px;
		border-color:#70ade2;
	}

#navigation {
	margin-left: 50%;
}

img {
	border-radius: 4px;
	width: 79%;
	margin-top: 10%;
	margin-left: 10%;
}

img:hover {
	box-shadow: 10px 10px 20px 10px rgba(0, 140, 186, 0.5);
}

#register1,
#register2,
#absenden {
	width: 400px;
}

h1,
h2 {
	white-space: nowrap;
}

#navigateToAccount,
#navigateToSetting,
#navigateToPassword {
	width: 170px;
}

//Tablet Größe
@media screen and (max-width: 768px) {
	.sidenav {
		display: none;
	}

	.main {
		background-color: #d5ebff;
		padding: 30px;
		//margin: auto;
		margin-left: 0%;
		border-style: outset;
		border-color: #a6d2f8;
		border-width: 1px;
		border-radius: 5px;
		box-shadow: -10px, -10px 5px silver;
	}

	#navigation {
		margin-left: 0%;
		padding-bottom: 30px;
	}
}
