#dogcard{
    border-radius: 15px;
}

#dogimg{
    border-radius: 15px;
}

#link-div{
    height: 90px;
}

.btn-routing{
    position: relative;
    left: 5vw;
    top: 40px;
    
    padding: 10px;
    color: white;
    background-color: rgb(50, 154, 100);
    border: 1px solid rgb(50, 154, 100);
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-decoration: none;
}

.btn-routing:hover{
    background-color: white;
    color: rgb(50, 154, 100);
}

@import "bootstrap/scss/bootstrap";
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';