app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main_container {
    flex: 1;
    background: linear-gradient(120deg, rgb(235, 249, 239), rgb(138, 219, 158));
}

app-footer {
    background-color: rgb(50, 154, 100);
}