#entries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 5%;
}

.entry {
    border-radius: 25px;
    padding-left: 0px;
    padding-right: 0px;
}

.entry img {
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.inactive {
    display: none !important;
}

#map {
    height: calc(100vh - 90px);
    width: 100%;
}

html, body {
    height: 100vh;
}

.toggle-btn {
    position: fixed;
}