/* Autor: Simon Flathmann */

*{
    box-sizing: border-box;
}

.form-row{
    margin: 20px;
}

#outerDiv{
    background-color: white;
    margin: 3.5vw;
    border-radius: 10px;
    //background: linear-gradient(120deg, rgb(235, 249, 239), rgb(138, 219, 158)); -> jetzt in der Index.scss
    //background:linear-gradient(120deg, white, lightgreen);
    //background: linear-gradient(120deg, white, rgb(138, 219, 158));
}


.fieldset1{
    border: 3px solid darkgreen;
    border-radius: 10px;
    margin: 5px;
}

legend{
    font-size: 20px;
}

