/* Autor: Simon Flathmann */

*{
    box-sizing: border-box;
}

.form-row{
    margin: 20px;
}

#outerDiv{
    background-color: white;
    margin: 3.5vw;
    border-radius: 10px;
}


.fieldset1{
    border: 3px solid darkgreen;
    border-radius: 10px;
    margin: 5px;
}

legend{
    font-size: 20px;
}

